<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
<head th:fragment="public-head">
    <!--Load favicon-->
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/UPTMLOGO.png}"/>
    <title>UPTM VBS</title>
    <!--Bootstrap core CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}"/>
    <!--Custom styles-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/public-styles.css}"/>
</head>